<div class="page-wrapper">
    <div class="container">
        <header>
            <div class="title-wrapper">
                <h1>Ashot Galstyan</h1>
                <h4>Frontend Web Developer</h4>
            </div>
    
            <div class="contact-wrapper">
                <h2>Contact</h2>
                <span>+37496868414</span>
                <span>ash.galstyan&#64;gmail.com</span>
            </div>
        </header>
    
        <section class="summary section-wrapper">
            <h2>Summary</h2>
            <p>
                As an experienced frontend developer with over six years of expertise working in both start-up and corporate environments, I have been actively involved in enhancing existing as well as developing new functionalities for a variety of web applications. Throughout my career I have successfully participated in the creation and delivery of exceptional websites and web applications from the ground up.
                After graduating from university I had a two year break from professional growth and served in the army. Following that I decided to gain some knowledge in the rapidly-growing IT field and took a course in web development. I grew increasingly passionate and decided to pursue a career as a web developer and have been working as such since 2017.
                I'm passionate about travelling, new experiences and football. I also enjoy spending time with my friends and family and working towards our goals with my wife.
            </p>
        </section>
    
        <section class="experience section-wrapper">
            <h2>Work Experience</h2>
    
            <div class="company-wrapper">
                <h3>EPAM Anywhere</h3>
                <h4>Software Engineer</h4>
                <span>2021 Dec - Present</span>
    
                <p>
                    EPAM is a multinational company with expertise in using digital technology to transform businesses. EPAM offers a combination of software engineering, strategic consulting, design thinking, and physical-digital capabilities to provide innovative solutions that prioritize the needs of humans and deliver real value to customers.
                </p>
                <ul>
                    <li>Got enrolled in a project for one of the top EPAM accounts in a month</li>
                    <li>Have been working on the development of a plugin-style application written in Angular framework which is a part of a larger application.</li>
                    <li>Integrated APIs, added new features, fixed existing functionalities and improved the application’s overall performance.</li>
                </ul>
            </div>
    
            <div class="company-wrapper">
                <h3>Pragmatix Agency</h3>
                <h4>Frontend web developer</h4>
                <span>2017 Jun - 2021 Dec</span>
    
                <p>
                    Pragmatix is a small start-up style company that turns clients ideas into digital experiences.
                </p>
                <ul>
                    Contributed to the development of a fundraising application for Leukaemia treatment, utilizing Angular 2+ to build the application from the ground up.
                    <li>Collaborated on a team to create a new application to replace a legacy system.</li>
                    <li>Focused primarily on front-end integration with existing APIs, implementing a variety of user forms, optimizing pages for mobile devices and ensuring they were responsive, and adhering to UI and UX specifications.</li>
                    <li>Additionally, contributed to the development of new features and enhancements to improve upon the legacy application.</li>
                </ul>
                <ul>
                    Contributed to the development of a hiring platform, providing a means for companies and individuals to connect with one another.
                    <li>Utilized Angular for front-end development and Laravel for back-end development.</li>
                    <li>Gained extensive knowledge in back-end development through managing data from multiple tables, performing calculations, and utilizing migrations to modify the database schema.</li>
                    <li>Also responsible for developing profile pages and implementing job search and application processes for users with varying levels of permissions.</li>
                    <li>Various other smaller projects.</li>
                </ul>
            </div>
    
            <div class="company-wrapper">
                <h3>BIG BRAIN</h3>
                <h4>Intern</h4>
                <span>2017 Apr - 2017 Jun</span>
    
                <p>
                    Learned the codebase and got acquainted with the company's main products and did various daily tasks
                </p>
            </div>
        </section>
    
        <section class="education section-wrapper">
            <h2>Education</h2>

            <div class="edu-wrapper">
                <h3>Microsoft Innovation Center Armenia</h3>
                <h4>Advanced Javascript course</h4>
                <span>2018 Sept - 2018 Oct</span>
                <p>Deeper understanding of JavaScript and its concepts</p>
            </div>
            
            <div class="edu-wrapper">
                <h3>Microsoft Innovation Center Armenia</h3>
                <h4>Front-end web development</h4>
                <span>2016 Dec - 2017 Feb</span>
                <p>HTML, CSS, JavaScript, jQuery</p>
            </div>
    
            <div class="edu-wrapper">
                <h3>Jean Moulin lyon 3/ french university in armenia</h3>
                <h4>Bachelor's degree in Management</h4>
                <span>2009 - 2015</span>
                <p>Macro/Micro Economics, Finance Policy & Management, Accounting, Descriptive Statistics, Probability, Business Management</p>
            </div>
        </section>
    
        <section class="skills section-wrapper">
            <h2>Skills</h2>

            <div class="skill-wrapper lang">
                <h3>Languages spoken</h3>
                <ul>
                    <li>English/ Excellent</li>
                    <li>French/ Good</li>
                    <li>Russian/ Fluent</li>
                    <li>Armenian/ Native</li>
                </ul>
            </div>
    
            <div class="skill-wrapper lang">
                <h3>Technologies used</h3>
                <ul>
                    <li>HTML/CSS</li>
                    <li>Bootstrap</li>
                    <li>SCSS</li>
                    <li>Javascript</li>
                    <li>Typescript</li>
                    <li>Angular 2+</li>
                    <li>PHP</li>
                    <li>Laravel</li>
                    <li>Git</li>
                    <li>Node.js</li>
                    <li>Adobe Photoshop</li>
                </ul>
            </div>
    
            <div class="skill-wrapper lang">
                <h3>Additional</h3>
                <ul>
                    <li>Responsive development</li>
                    <li>Problem solving</li>
                    <li>Meeting deadlines</li>
                    <li>Team player</li>
                    <li>Multitasking</li>
                    <li>Researching the Web for solving problems</li>
                </ul>
            </div>
        </section>

        <div class="download">
            <button
                mat-raised-button
                type="submit"
                (click)="downloadResume()">
                Download
                <i class="bi bi-download"></i>
            </button>
        </div>
    </div>
</div>