<div [ngClass]="{'page-wrapper': isSeparatePage}">
    <div [ngClass]="{'separate-page-container': isSeparatePage}">
        <div class="container">
            <h2 class="text-center section-title">Feedback</h2>
            <div class="flex-container flex-wrap section-inner-wrapper" id="feedback-wrapper">
                <!-- @for (feedback of feedbacks; track feedback) {
                  <div class="card-wrapper">
                    <mat-card class="feedback-card">
                      <mat-card-header>
                        <mat-card-title>{{ feedback.name }}</mat-card-title>
                        <mat-card-subtitle>{{ feedback.title }}</mat-card-subtitle>
                        <mat-card-subtitle>{{ feedback.relationship }}</mat-card-subtitle>
                      </mat-card-header>
                      <mat-card-content>
                        <p class="feedback-text">{{ feedback.message }}</p>
                      </mat-card-content>
                    </mat-card>
                  </div>
                } -->
          
                <div class="card-wrapper">
                    <mat-card class="feedback-card">
                    <mat-card-header>
                        <mat-card-title>Dzianis Kvashevich</mat-card-title>
                        <mat-card-subtitle>Senior QA specialist</mat-card-subtitle>
                        <mat-card-subtitle>Colleague/ Epam Anywhere</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="feedback-text">
                            Ashot has shown steady progress and professional growth, consistently contributing to the project's success with dedication and commitment. His deep understanding of the complex logic system enabled him to tackle challenging tasks and improve product quality. This also fostered his development and learning, as he eagerly handled non-trivial assignments. Ashot demonstrated flexibility, agility, and excellent stress-resistance, problem-solving, and time management skills by adapting to changing priorities and multitasking effectively. He always took ownership, often exceeding team and customer expectations. Active in all Scrum ceremonies, Ashot clearly reported his status, provided input and estimations, shared ideas, and demoed implementations. He was approachable and helpful, effectively collaborating and building trustful relationships. Thus, I believe Ashot is ready for the next step in his career, embracing new challenges and opportunities.
                        </p>
                    </mat-card-content>
                    </mat-card>
                </div>
          
                <div class="card-wrapper">
                  <mat-card class="feedback-card">
                    <mat-card-header>
                      <mat-card-title>Gevorg Melkonyan</mat-card-title>
                      <mat-card-subtitle>Frontend developer/ Angular</mat-card-subtitle>
                      <mat-card-subtitle>Colleague/ Epam Anywhere</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <p class="feedback-text">
                        Ashot is a great team member. I have worked with him in the same project and in the same team, he is an excellent developer who is not afraid of difficult tasks. He is very involved in the project, participating in weekly meetings with the PO, PBR, sprint planning, retro and sprint review sessions.
                        He also mastered his skills by successfully completing various assignments and tasks even when initially he was unfamiliar with the functionality which required extra time and efforts
                        Also, Ashot is a hard-working and responsible person. I think he has enough experience and skills to do the more challenging tasks and roles.`
                      </p>
                    </mat-card-content>
                  </mat-card>
                </div>
          
                <div class="card-wrapper">
                  <mat-card class="feedback-card">
                    <mat-card-header>
                      <mat-card-title>Dzmitry Skatarenka</mat-card-title>
                      <mat-card-subtitle>BA</mat-card-subtitle>
                      <mat-card-subtitle>Colleague/ Epam Anywhere</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <p class="feedback-text">
                        Ashot is a great team member. He has been on the project for a long time which says a lot. Although our product is very complex, he does an excellent job. I have worked with him in the same project and in the same team, he is an excellent developer who is not afraid of difficult tasks. He is very involved in the project, participating in weekly meetings with the PO, PBR, sprint planning, retro and sprint review sessions.
                        He also mastered his skills by successfully completing various assignments and tasks even when initially he was unfamiliar with the functionality which required extra time and efforts
                        Also, Ashot is a hard-working and responsible person. I think he has enough experience and skills to do the more challenging tasks and roles.`
                      </p>
                    </mat-card-content>
                  </mat-card>
                </div>
          
                <div class="card-wrapper">
                  <mat-card class="feedback-card">
                    <mat-card-header>
                      <mat-card-title>Magesh Patel</mat-card-title>
                      <mat-card-subtitle>Frontend developer</mat-card-subtitle>
                      <mat-card-subtitle>Colleague/ Epam Anywhere</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <p class="feedback-text">
                        I am working with Ashot every day and I see his professional progression and developing every day.
                        I look forward to work with him in the future because he is always helpful, hard worker, friendly.
                        I will recommend him for a more challenging task or role because he is very professional, responsible and purposeful. He always reaches his plans and goals.`
                      </p>
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>
          </div>
    </div>
</div>