<app-background-animation [hasLine]="true" [id]="canvasId"></app-background-animation>
<div class="about-wrapper">
    <h2 class="text-center section-title">About Me</h2>
    <p>
        As an experienced frontend developer with 6+ years of expertise working in both start-up and corporate environments, 
        I have been actively involved in enhancing existing products as well as developing new ones from scratch. 
        After serving 2 mandatory years in the army, I decided to gain some knowledge in the rapidly-growing tech field 
        and took a course in web development. I grew increasingly passionate and decided to pursue a career as a web developer and have been working as such since 2017.
        I'm passionate about traveling, new experiences, and football. I also love spending time with my close ones and working towards our goals with my wife. 
        I find joy in watching my two cute fish hanging around while I do my coding.
    </p>
    <div class="text-center">
        <a href="https://github.com/Ash-galstyan" target="_blank"><i class="bi bi-github"></i></a>
    </div>
</div>